<h5>Products</h5>
<div class="row" *ngIf="(productsLoading$ | async)">
  <div class="col-12 d-flex justify-content-center">
    <app-loader ></app-loader>
  </div>
</div>
<div class="row" *ngIf="!(productsLoading$ | async)">
  <div class="col-6 mt-3" *ngFor="let product of selectedProducts">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">{{ product.productName }}</h6>
        <p class="card-text">
          R{{ product.productRate}}
        </p>
        <button class="btn btn-secondary">Check Coverage</button>
      </div>
    </div>
  </div>
  <div class="col-12" *ngIf="selectedProducts.length === 0 && !(productsLoading$ | async)">
    <div class="alert alert-primary" role="alert">
      No Products found. Please use another fibre product or price range to continue.
    </div>
  </div>
</div>
